<div class="container">
    <div class="contacts-list">
        <div class="list-item" *ngFor="let contact of contacts$ | async">
            <app-contact
            [contact]="contact"
            [routerLink]="['/contact-detail', contact.id]">
            </app-contact>
            <div class="actions">
                <div class=" action clickable" [routerLink]="['/contact-detail/edit/', contact.id]">Edit</div>
                <div class=" action clickable" (click)="deleteContact(contact)">Delete</div>
            </div>
        </div>
    </div>
</div>
